body
{
	/*kek*/
	font-family: 'Segoe UI Variable Display', 'Segoe UI', 'Roboto', sans-serif;
	background-color: #eeeeee;
	color: #000000;
}

@keyframes clicked
{
	0% {border-left-width: 6px;}
	100% {border-left-width: 9px;}
}

@-moz-keyframes clicked
{
	0% {border-left-width: 6px;}
	100% {border-left-width: 9px;}
}

@-webkit-keyframes clicked
{
	0% {border-left-width: 6px;}
	100% {border-left-width: 9px;}
}

@-ms-keyframes clicked
{
	0% {border-left-width: 6px;}
	100% {border-left-width: 9px;}
}

@-o-keyframes clicked
{
	0% {border-left-width: 6px;}
	100% {border-left-width: 9px;}
}

.Paragraph
{
	text-indent: 40px;
	color: #000000;
}

#SearchBar
{
	float: left;
	padding: 6px;
	border: none;
	margin-top: 8px;
	margin-right: auto;
	font-size: 17px;
}



.NavBar 
{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #222222;
}

.TitleText
{
	width: auto;
	text-align: center;
	font-size: 300%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -400%);
}

#Blurb
{
	margin: auto;
	text-align: center;
	font-size: 150%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -620%);
}

.NavigationLink
{
	float: left;
	color: #ffffff;
	display: block;
	padding: 16px;
	font-style: bold;
	text-decoration: none;
	position: relative;
	max-width: 100%;
	max-height: 100%;
	cursor: default;
}

.RightLink
{
	float: right;
	color: #ffffff;
	display: block;
	padding: 16px;
	font-style: bold;
	text-decoration: none;
	position: relative;
	max-width: 100%;
	max-height: 100%;
	cursor: default;
}

.RightLink:hover
{
	background-color: #333333;
}

.RightLink:active 
{
	background-color: #444444;
}

.NavigationLink:hover
{
	background-color: #333333;
	animation: clicked 1s;
	-moz-animation: clicked 1s;
	-webkit-animation: clicked 1s;
	-ms-animation: clicked 1s;
	-o-animation: clicked 1s;
}

.NavigationLink:active 
{
	background-color: #444444;
}
.collapsible 
{
	background-color: #222222;
	color: white;
	cursor: default;
	padding: 18px;
	max-width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 15px;
}

.active, .collapsible:hover 
{
	background-color: #333333;
}

.collapsible:active
{
	background-color: #444444;
}

.content {
	padding: 0 18px;
	width: 300px;
	overflow: hidden;
	background-color: #eeeeee;
	height: auto;
	list-style-type: none;
	max-height: 0;
	transition: max-height 0.2s ease-out;
}

.CharacterContent
{
	float: up;
	display: block;
	text-decoration: none;
	border: none;
	background-color: rgba(76, 76, 80, 0.3);
	border-left-color: #222222;
	border-left-width: 6px;
	border-left-style: solid;
	cursor: default;
	outline: none;
}

.CharacterContent:hover
{
	animation: clicked 0.2s;
	-moz-animation: clicked 0.2s;
	-webkit-animation: clicked 0.2s;
	-ms-animation: clicked 0.2s;
	-o-animation: clicked 0.2s;
	border-left-width: 9px;
}